
<!--Student Modal Static -->
<div *ngIf= "showPage">

<!-- end modal static -->



<!--Mentor Modal Static -->

<!-- end modal static -->


<header class="header">

  <!-- Top Bar -->
  <div class="top_bar">
    <div class="top_bar_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
              <div class="top_bar_phone"><span class="top_bar_title">phone:</span>+91 1234567890</div>
              <div class="top_bar_right ml-auto">

                <!-- Language
                <div class="top_bar_lang">
                  <span class="top_bar_title">site language:</span>
                  <ul class="lang_list">
                    <li class="hassubs">
                      <a href="#">English<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul>
                        <li><a href="#">Ukrainian</a></li>
                        <li><a href="#">Japanese</a></li>
                        <li><a href="#">Lithuanian</a></li>
                        <li><a href="#">Swedish</a></li>
                        <li><a href="#">Italian</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>-->

                <!-- Social -->
                <div class="top_bar_social">
                  <span class="top_bar_title social_title">follow us</span>
                  <ul>
                    <li><a href="https://facebook.com/foreignadmits"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/foreignadmits"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header Content -->
  <div class="header_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header_content d-flex flex-row align-items-center justify-content-start">
            <div class="logo_container mr-auto">
              <a href="#">
                <div class="logo_text"><img src="assets/images/logo.png"></div>
              </a>
            </div>
            <nav class="main_nav_contaner">
              <ul class="main_nav">
                <!-- <li class="active"><a href="index.html">Home</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="instructors.html">Instructors</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="blog.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li> -->
                <li><a href="/home" [routerLinkActive]="'is-active'">Home</a></li>
      <li ><a href="/courses" [routerLinkActive]="'is-active'">Courses</a></li>
      <li ><a [routerLink]="['/plansandpricing']" [routerLinkActive]="'is-active'">Plans and Pricing</a></li>
      <li ><a [routerLink]="['/events']" [routerLinkActive]="'is-active'">Events</a></li>
      <li ><a [routerLink]="['/blog']" [routerLinkActive]="'is-active'">Blog</a></li>
      <li ><a [routerLink]="['/contact']" [routerLinkActive]="'is-active'">Contact</a></li>
              </ul>
            </nav>
            <div class="header_content_right ml-auto text-right">
              <div class="header_search">
                <div class="search_form_container">
                  <form action="#" id="search_form" class="search_form trans_400">
                    <input type="search" class="header_search_input trans_400" placeholder="Type for Search" required="required">
                    <div class="search_button">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                  </form>
                </div>
              </div>

              <!-- Hamburger -->

                  <ul class="lang_list">
                    <li class="hassubs">
                      <a href="#"><div class="user"><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></div></a>
                      <ul>
                                                  <div class="row previous">
                                                      <div class="col-md-6 studentlogin">
                                                          <li><a [routerLink]="['/login','student']"><img src="assets/images/cap.png" style="width:90%; height:90%;"></a></li>
                                                          <p class="text-center">Student</p>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <li><a [routerLink]="['/login' , 'mentor']"><img src="assets/images/teacher.png" style="width:90%; height:90%;"></a></li>
                                                          <p class="text-center">Mentors</p>
                                                      </div>
                                                  </div>
                      </ul>
                    </li>
                  </ul>

                  <!--Loop-->


              <div class="hamburger menu_mm">
                <i class="fa fa-bars menu_mm" aria-hidden="true"></i>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</header>

<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
  <div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
  <div class="search">
    <form action="#" class="header_search_form menu_mm">
      <input type="search" class="search_input menu_mm" placeholder="Search" required="required">
      <button class="header_search_button d-flex flex-column align-items-center justify-content-center menu_mm">
        <i class="fa fa-search menu_mm" aria-hidden="true"></i>
      </button>
    </form>
  </div>
  <nav class="menu_nav">
    <ul class="menu_mm">
        
      <!-- <li class="menu_mm"><a [routerLink]="['/home']" [routerLinkActive]="'is-active'">Home</a></li>
      <li class="menu_mm"><a [routerLink]="['/courses']" [routerLinkActive]="'is-active'">Courses</a></li>
      <li class="menu_mm"><a [routerLink]="['/home']" [routerLinkActive]="'is-active'">Instructors</a></li>
      <li class="menu_mm"><a [routerLink]="['/home']" [routerLinkActive]="'is-active'">Events</a></li>
      <li class="menu_mm"><a [routerLink]="['/blog']" [routerLinkActive]="'is-active'">Blog</a></li>
      <li class="menu_mm"><a [routerLink]="['/contact']" [routerLinkActive]="'is-active'">Contact</a></li> -->
    </ul>
  </nav>
  <div class="menu_extra">
    <div class="menu_phone"><span class="menu_title">phone:</span>+91 1234567890</div>
    <div class="menu_social">
      <span class="menu_title">follow us</span>
      <ul>
        <li><a href="https://facebook.com/foreignadmits"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/foreignadmits"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</div>