<div class="events">
		<div class="container">
			<div class="row">
				<div class="col">
					<h2 class="section_title text-center">Upcoming Events</h2>
				</div>
			</div>
			<div class="row events_row" >

				<!-- Event -->
				<div class="col-lg-4 event_col"*ngFor="let event of events">
					<div class="event">
						<div class="event_image"><img src="assets/images/event_1.jpg" alt=""></div>
						<div sty class="event_date d-flex flex-column align-items-center justify-content-center">
							<div class="event_day"><h6 style="font-size: 38%;">{{event.Date}}</h6></div>
							<div class="event_month"><h6 style="font-size: 120%;">{{event.Time}}</h6></div>
						</div>
						<div class="event_body d-flex flex-row align-items-center justify-content-start">
							<div class="event_title"><a href="#">{{event.Desc}}</a></div>
							<div class="event_tag ml-auto">Free</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>