 <!-- MAIN CONTENT-->
 <div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
             <div class="col-md-4">
                  <div class="col-md-4">
                      <!-- DATA TABLE -->
                      <div class="table-data__tool">
                          <div class="table-data__tool-left">
                              <div class="rs-select2--light rs-select2--md" >
                                  <select [(ngModel)]="sspecilization" (click)="specfilteration($event)" class="js-select2" name="country">
                                      <option value="">Select Specialization</option>
                                      <option *ngFor="let option of specialization" value="{{option}}">{{option}}</option>    
                                  </select>
                              </div>
                              <div class="rs-select2--light rs-select2--md">
                                  <select [(ngModel)]="suniversityname" (click)="unifilteration($event)"class="js-select2" name="course">
                                      <option value="">Select UniversityName</option>
                                      <option *ngFor="let option of universityname" value="{{option}}">{{option}}</option>
                                  </select>
                                  </div><br><br>
                                 <button style="padding:0 1%;background-color: rgb(0,172,172)" (click)="reset()">Reset</button>
                                 <button style="padding:0 1%;background-color: rgb(0, 172, 172);justify-content: right;" (click)="applyfilter()">Apply Filter</button>      
                          </div>
                      </div>
                    </div>
                </div>
           
           
    <div class="row">
       <div class="col-md-12">
           <div class="row">
                
                <div *ngFor= "let mentor of filteredmentordata"class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title mb-3">Mentor</strong>
                        </div>
                        <div  class="card-body">
                            <div class="mx-auto d-block">
                                <img class="rounded-circle mx-auto d-block" src="{{mentor?.ProfilePic}}" alt="Card image cap"><br>
                                <h5 class="text-sm-center mt-2 mb-1">{{mentor?.Name}}</h5>
                                    
                                <div class="location text-sm-center">
                                    <i class="fa fa-star" aria-hidden="true"></i> &nbsp;Specialization - {{mentor?.Specialization}}
                                </div>
                                <div class="location text-sm-center">
                                    <i class="fa fa-star" aria-hidden="true"></i> &nbsp;University Name - {{mentor?.UniversityName}}
                                </div>
                            </div>
                            <hr>
                            <div class="card-text text-sm-center">
                                <div class="card-text text-sm-center">
                                    <button class="btn btn-primary"(click)="setdetails(mentor?.id,mentor?.Name,mentor?.ProfilePic,mentor?.EmailID)" data-toggle="modal" data-target="#largeModal">Book Appointment</button>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Profile Section End-->
               
 
               
               
            </div><!-- Row End -->
           
            
        </div>
    </div>
</div>
</div>
</div>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->

<!-- END MAIN CONTENT-->

<!-- modal large -->
<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Hello {{username}}!</h5><!-- Card Heading-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Edit Form from here-->
                <div class="col-lg-12"><!--Apply Match Parent Width-->
                        <div class="card-body card-block">
                            <div class="has-success form-group">
                                <label for="inputIsValid" class=" form-control-label">Time of Appointment</label>
                                <input required type="time" id="inputIsValid" [(ngModel)]="modal.Time" class="is-valid form-control-success form-control">
                            </div>
                            <div class="has-warning form-group">
                                <label for="inputIsInvalid" class=" form-control-label">Date of Appointment</label>
                                <input required type="date" id="inputIsInvalid" [(ngModel)]="modal.Date" class="is-invalid form-control">
                            </div>
                        </div>
                </div>
                <!--Form Section Ending-->
            </div>
            <div class="modal-footer">
                <button id="closebutton" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" (click)="submit()" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
<!-- end modal large -->
