
<!-- <div class="super_container"> -->
  <app-header *ngIf="showHeaderFooter" ></app-header>
  <router-outlet>
    <span [hidden]="!showLoader" class="loading"></span>
  </router-outlet>
  <!-- <app-home></app-home> -->
  <app-footer *ngIf="showHeaderFooter"></app-footer>
<!-- </div> --> 

<!-- 
<app-header *ngIf="!isLoggedIn && showHeaderFooter" ></app-header>
  <router-outlet>
    <span [hidden]="!showLoader" class="loading"></span>
  </router-outlet>
 
  <app-footer *ngIf="!isLoggedIn && showHeaderFooter"></app-footer> -->