
  <div class="courses">
	<div class="courses_background"></div>
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="section_title text-center">Popular Courses</h2>
			</div>
		</div>
		<div class="row courses_row">

			<!-- Course -->
			<div class="col-lg-4 course_col">
				<div class="course">
					<div class="course_image"><img src="assets/images/course_2.jpg" alt=""></div>
					<div class="course_body">
						<div style="border-bottom:1px solid grey;" class="course_info">
							<h3 style="color:grey">Statement of Purpose</h3>
							<h6 style="color:grey;">
								Get your SOP drafted by our international expert writers
								Valid for 3 months
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Target SOP for your selected Universities</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Profile specific analysis giving highlights to strengths.</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Simple collection of information.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">2 step analysis with experts review.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Faster turnaround time
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">1 FREE Revision.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">*Fee is inclusive of all taxes
							</h6>
						</div>
					</div>
					<div class="course_footer d-flex flex-row align-items-center justify-content-start">
						<div class="course_students"><i class="fa fa-user" aria-hidden="true"></i><span>10</span></div>
						<div class="course_rating ml-auto"><i class="fa fa-star" aria-hidden="true"></i><span>4,5</span></div>
						<div class="course_mark course_free trans_200">₹ 4999</div>
					</div>
				</div>
			</div>
		
			<!-- Course -->
			<div class="col-lg-4 course_col">
				<div class="course">
					<div class="course_image"><img src="assets/images/course_2.jpg" alt=""></div>
					<div class="course_body">
						<div style="border-bottom:1px solid grey;" class="course_info">
							<h3 style="color:grey">Full Package for MS
							</h3>
							<h6 style="color:grey;">
								Complete guidance with document and mentorship support.
								Valid for 6 months
								
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Rs 250 OFF till 31/12/2018. Book now at only Rs 24749
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Profile Evaluation Package
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Mentors' Guidance Package
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Statement of Purpose Package (with 2 FREE revisions)
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">3 Personalized LoRs Packages
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Application form filling assistance & Free Review
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">FREE guidance on Cover Letter & Resume development

							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">FREE deals and assistance with Loan, Visa & Insurance.

							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">FREE unlimited chat and email support from team.

							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">FREE access to webinars and scholarships information							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">*Fee is inclusive of all taxes
							</h6>
						</div>
					</div>
					<div class="course_footer d-flex flex-row align-items-center justify-content-start">
						<div class="course_students"><i class="fa fa-user" aria-hidden="true"></i><span>10</span></div>
						<div class="course_rating ml-auto"><i class="fa fa-star" aria-hidden="true"></i><span>4,5</span></div>
						<div class="course_mark course_free trans_200">₹ 24999</div>
					</div>
				</div>
			</div>

			<!-- Course -->
			<div class="col-lg-4 course_col">
				<div class="course">
					<div class="course_image"><img src="assets/images/course_2.jpg" alt=""></div>
					<div class="course_body">
						<div style="border-bottom:1px solid grey;" class="course_info">
							<h3 style="color:grey">Full Package for MBA</h3>
							<h6 style="color:grey;">
								Complete guidance with document and mentorship support.
								Valid for 6 months
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Rs 250 OFF till 31/12/2018. Book now at just Rs 29749
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Profile Evaluation Package
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Mentors' Guidance Package
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">MBA Essay review and writing support by experts
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Statement of Purpose Package
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">3 Personalized LoRs Packages
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Complete application assistance & guidance.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">FREE guidance on Cover Letter & Resume development
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">FREE deals and assistance with Loan, Visa & Insurance.

							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">FREE unlimited chat and email support from team.

							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">FREE GMAT preparation guidance from experts
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Exclusive deals for GMAT Coaching
							</h6>
						</div>
					</div>
					<div class="course_footer d-flex flex-row align-items-center justify-content-start">
						<div class="course_students"><i class="fa fa-user" aria-hidden="true"></i><span>10</span></div>
						<div class="course_rating ml-auto"><i class="fa fa-star" aria-hidden="true"></i><span>4,5</span></div>
						<div class="course_mark course_free trans_200">₹ 29999</div>
					</div>
				</div>
			</div>

			<!-- Course -->
			<div class="col-lg-4 course_col">
				<div class="course">
					<div class="course_image"><img src="assets/images/course_2.jpg" alt=""></div>
					<div class="course_body">
						<div style="border-bottom:1px solid grey;" class="course_info">
							<h3 style="color:grey">Personalized LORs
							</h3>
							<h6 style="color:grey;">
								Get your LORs drafted for a professional outlook.
								Valid for 3 months
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Rs 250 OFF till 31/12/2018. Book now at just Rs 1749
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">1 Personalized Letter of Recommendation
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Specific key highlights shown as per individual profile
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Experts' & Mentor's review with feedbacks.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">1 FREE Revision
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Faster turnaround time.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">*Fee is inclusive of all taxes.
							</h6>
						</div>
					</div>
					<div class="course_footer d-flex flex-row align-items-center justify-content-start">
						<div class="course_students"><i class="fa fa-user" aria-hidden="true"></i><span>10</span></div>
						<div class="course_rating ml-auto"><i class="fa fa-star" aria-hidden="true"></i><span>4,5</span></div>
						<div class="course_mark course_free trans_200">₹ 1999</div>
					</div>
				</div>
			</div>

			<!-- Course -->
			<div class="col-lg-4 course_col">
				<div class="course">
					<div class="course_image"><img src="assets/images/course_2.jpg" alt=""></div>
					<div class="course_body">
						<div style="border-bottom:1px solid grey;" class="course_info">
							<h3 style="color:grey">Profile Evaluation
							</h3>
							<h6 style="color:grey;">
								Get your profile evaluated from our mentors & field experts.
								Valid for 6 months								
							</h6>
						</div>
						
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Rs 250 OFF till 31/12/2018. Book now at just Rs 4749
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Personalized Profile Evaluation.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">A 360 degree experts analysis of your profile.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">International University analysis by top Mentors'.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Swift & hassle-free profile evaluation
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">6-8 university recommendation as per your profile & interest
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Mentors feedback and chat support.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">*Fee is inclusive of all taxes.
							</h6>
						</div>

					</div>
					<div class="course_footer d-flex flex-row align-items-center justify-content-start">
						<div class="course_students"><i class="fa fa-user" aria-hidden="true"></i><span>10</span></div>
						<div class="course_rating ml-auto"><i class="fa fa-star" aria-hidden="true"></i><span>4,5</span></div>
						<div class="course_mark course_free trans_200">₹ 4999</div>
					</div>
				</div>
			</div>

			<!-- Course -->
			<div class="col-lg-4 course_col">
				<div class="course">
					<div class="course_image"><img src="assets/images/course_2.jpg" alt=""></div>
					<div class="course_body">
						<div style="border-bottom:1px solid grey;" class="course_info">
							<h3 style="color:grey">Mentors' Guidance
							</h3>
							<h6 style="color:grey;">
								Get a field expert or an international mentor for you.
								Valid for 6 months													
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Rs 250 OFF till 31/12/2018. Book now at just Rs 4749
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Support for any number of universities.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Expert Reviews for LORs & SOPs.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Application Review.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">University and field/subject specific knowledge given.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Scholarship guidance.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">3 calls to any mentors (45 mins each)
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">*Fee is inclusive of all taxes
							</h6>
						</div>
					</div>
					<div class="course_footer d-flex flex-row align-items-center justify-content-start">
						<div class="course_students"><i class="fa fa-user" aria-hidden="true"></i><span>10</span></div>
						<div class="course_rating ml-auto"><i class="fa fa-star" aria-hidden="true"></i><span>4,5</span></div>
						<div class="course_mark course_free trans_200">₹ 4999</div>
					</div>
				</div>
			</div>

			<!-- Course -->
			<div style="margin-left:33%;margin-top:4%;" class="col-lg-4 course_col">
				<div class="course">
					<div class="course_image"><img src="assets/images/course_2.jpg" alt=""></div>
					<div class="course_body">
						<div style="border-bottom:1px solid grey;" class="course_info">
							<h3 style="color:grey">Full Package for PhD
							</h3>
							<h6 style="color:grey;">
								Complete guidance with document and mentorship support
								Valid for 6 months										
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Profile Evaluation Package
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Mentors' Guidance Package
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Statement of Purpose Package (with 2 FREE revisions)
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">3 Personalized LoRs Packages
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">Application form filling assistance & Free Review
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">FREE guidance on Cover Letter & Resume development
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">FREE guidance for best Loan, Visa & Insurance services.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">FREE deals and assistance with Loan, Visa & Insurance.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">FREE unlimited chat and email support from team.
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">FREE access to webinars and scholarships information
							</h6>
						</div>
						<div class="course_text" style="border-bottom:1px soild grey">
							<h6 style="text-align: center;">*Fee is inclusive of all taxes
							</h6>
						</div>
					</div>
					<div class="course_footer d-flex flex-row align-items-center justify-content-start">
						<div class="course_students"><i class="fa fa-user" aria-hidden="true"></i><span>10</span></div>
						<div class="course_rating ml-auto"><i class="fa fa-star" aria-hidden="true"></i><span>4,5</span></div>
						<div class="course_mark course_free trans_200">₹ 29999</div>
					</div>
				</div>
			</div>

			<!-- Course -->
			</div>
			
		</div>
	</div>
